
:root {  /* Define variables within the :root selector for global scope */
    --backgroundColor: #0C2D57;
    --fontColor: #FC6736;
    --font-size-base: 16px;
  }
body{


    margin: 0px;
}
.hide{

    display:none !important;

}
.visibleFlex{
    display:flex !important;

}
.visibleBlock{
    display: block !important;
}
/* Navigation Container */

.postButton{
    background:var(--fontColor);
    border: none;
    border-radius: 5px;;
    padding: 5px 10px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--backgroundColor);
    font-weight: bold;
    gap: 8px;
    cursor: pointer;
}
.postButton img{
    width:18px;
}
.navContainer{

    background:var(--backgroundColor);
    padding: 15px;
    color:#EFECEC;
    display: flex;
    justify-content:space-between;
    align-items:center;
    
}
.rightHeader{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    
}
.logoutButton{
    
    cursor: pointer;
}
.box{

    display: flex;
    flex-direction: row;
    background-color: #0C2D57;

}
.leftContainer{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C2D57;
    width: 70%;
    height: 95vh;
}
.rightContainer{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    width:30%;
    background-color: #EFECEC;
    border-top-left-radius: 10px;;

}

.errorPopUp{

    background: #FFB0B0;
    position: absolute;
    top: -100%;
    margin: 0px auto;
    left: 50%;
    display: none;
    padding: 20px;
    gap: 20px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    animation: down 2s ease-in-out;
    transform: translate(-50%, -50%);
}
.errorMessage{

    color:#A0153E;
    font-size:20px;
}
.closeLogo{
    cursor:pointer;
}
@keyframes down{

    0%{
        top:-100%;
    }
    100%{
        top: 5%;
    }
}

/* Home and Posts styling */

.containerHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px
}
.postContainer{
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
    background-color: #EEEDEB;
}
.postHeader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.postContent{
    margin-top: 15px;
}
.postActions{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.postActions img{
    width:24px;
}
h2{
    font-size:24px !important;
}

/* Create a post section */

#title{

    margin-bottom: 15px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #f77d54;
    outline: none;
    font-size: 20px;
    font-weight: 400;
}
.editorContainer{
    width: 50%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position:relative;
}
.postFormContainer{
    width: 100%;
}
#saveFormButton{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px 40px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #f77d54 ;
    font-weight: bold;
    cursor: pointer;
    color: #0C2D57;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
#discardFormButton{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px 40px;
    font-size: 20px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #EC4646;
    background-color: transparent;
    font-weight: 400;
    color: #0C2D57;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: .5s ease;
}
#editFormButton{

    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px 40px;
    font-size: 20px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #FCDC2A;
    background-color: transparent;
    font-weight: 400;
    color: #0C2D57;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: .5s ease;
}
#submitButton{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px 40px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #D9EDBF ;
    font-weight: bold;
    cursor: pointer;
    color: #0C2D57;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px; 

}
#discardFormButton:hover{
  
    background-color: #ED6663;
}
#editFormButton:hover{
    background-color: #F7F6BB;
}
/* styling toolbar */
.ql-toolbar{

    background: #f77d54 !important;
    border-radius: 10px !important;
    border-bottom: none !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

}
.ql-container{
    background: #F6F5F5;
}